<div id="content">
	<div id="backbox">
		<table> <tr> <td> 
			<div id="voting">
				<h2 id='term'>  <div id="banner"> </div></h2>
			</div>
		</td>
		<td>			
				<% @votes = 0 %>
				<% @negativevotes = 0 %>
			
			<% @definitions.each do |definition| %>
		<div id="dick">
			<h1 id="term"> <%= @word.name %></h1>
			<ul>
				<li id="origin"><%= definition.origin %></li>
				<li id="def"><%= definition.text %></li>
				<br> <h3> Usos: </h3>
				<li id="example"><%= definition.example %></li>
				
				<br>
				<table> <tr> <td id="float_right">
				<%= button_to '', upvote_word_definition_path(id:definition.id), :method => :post, :class => 'up' %> 
				</td>
				<td> <%= button_to '', downvote_word_definition_path(id:definition.id), :method => :post, :class => 'down' %> </td> </tr> 
				<tr>
				<td colspan="2"> <%= pluralize(definition.votes.count, "voto positivo", "votos positivos") %>
				<%= pluralize(definition.negativevotes.count, "voto negativo", "votos negativos") %> </td> </tr>
				</table>
				<% @votes = @votes + definition.votes.count %>
				<% @negativevotes = @negativevotes + definition.negativevotes.count %>
				<div class="vote">
				<% @positive = 100*@votes/(@votes.to_f + @negativevotes) %>
				<% @negative = 100*@negativevotes/(@votes.to_f + @negativevotes) %>
					<div class="up-vote" style="width: <%= @positive %>%"></div>
					<div class="down-vote" style="width: <%= @negative %>%"></div>
				</div>
				<br>
				<%= link_to('Editar definición', edit_word_definition_path(id:definition.id)) %>
				<%= link_to('Eliminar definición', word_definition_path(id:definition.id), :method => :delete) %>
			</ul>
			<%= link_to('Creo que puedo definirlo mejor', new_word_definition_path, id: 'new_def') %>
		</div>
			<% end %>
			
			
		
		</td></tr></table>
		
	</div>
</div>