<!DOCTYPE html>
<html>
<head>
  <title>Erasmus </title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all'%>

  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <div id="user_nav">
   <h3 id="saludo"> <% if user_signed_in? %>
      Buenas, <strong><%= current_user.email %></strong>. </h3>
      <h4 id="editar_cerrar"> <%= link_to 'Editar perfil', edit_user_registration_path %> |
      <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %> </h4>
    <% else %>
      <h2 id="editar_cerrar"> <%= link_to "Registrarse", new_user_registration_path %> |
      <%= link_to "Iniciar sesión", new_user_session_path %> </h2>
    <% end %>
  </div>

  <div id="content">
      <div id="logo_finder">
      <table id="headache"> <tr> <td rowspan="2">
        <div id="logodiv">
          <div id="logo"></div>

        </div> </td> 
        <td id="searcher"> 
            <%= form_tag(words_find_path, {method: :post}) do  %>
                <%= text_field_tag(:name,'', placeholder: '¿Qué demonios buscas?', size: '30*30', id:'finderbox')  %>
                <%= submit_tag 'Búscame esta', id: 'finder' %>
              <% end %>
         </td>
        </tr>
        <tr>
        <td>
        <div id="createbuttonplace">
          <%= button_to('Crea una palabra',new_word_path, :method => :get,  id: 'createbutton') %>
        </div> </td>
        </tr>
        </table>
      </div>
      <table id="buttons_header">
        <tr>
          <td>
            <%= button_to('FAVORITAS', words_path, id: 'voted') %> 
          </td>
          <td>
           <button id='voted'> CATEGORÍA </button>
          </td>
          <td>
              <%= button_to('SURPRISE', words_random_path, method: :get) %>
          </td>
          <td>
            <%= form_tag(words_language_path  , method: :get) do  %>
            <%= select_tag "language", "<option value=""disabled selected>¿ERASMUS?</option><option>Inglés</option><option>Español</option><option>Francés</option><option>Alemán</option><option>Italiano</option><option>Finés</option><option>Sueco</option><option>Rumano</option><option>Portugués</option>".html_safe, onchange:"this.form.submit()", id: 'lang_select' %>
              <% end %>
            </td>
        </tr>
      </table>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>